@import url("https://fonts.googleapis.com/css?family=Germania+One|Open+Sans:400,400i,600");
body {
  margin: 0;
  min-width: 320px;
  -ms-overflow-style: scrollbar; }

a,
button {
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  a:hover,
  button:hover {
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

#root,
#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }

#header {
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 99;
  padding: 5px 0;
  margin: 0 0 10px; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: top;
  white-space: normal;
  outline: none;
  text-decoration: none; }
  .btn:disabled {
    background: #ccc;
    color: white;
    border-color: #ccc; }
    .btn:disabled:hover, .btn:disabled:active, .btn:disabled:focus {
      background: #ccc;
      color: white;
      border-color: #ccc; }

.feed-list {
  margin: 0 -15px 20px;
  letter-spacing: -6px; }
  .feed-list li {
    vertical-align: top;
    letter-spacing: 0;
    padding: 0 15px 20px;
    width: 100%; }
    @media (min-width: 768px) {
      .feed-list li {
        width: 50%; } }
    @media (min-width: 992px) {
      .feed-list li {
        width: 33.33%; } }
    @media (min-width: 1200px) {
      .feed-list li {
        width: 25%; } }
  .feed-list .img-holder {
    overflow: hidden;
    margin: 0 0 10px; }
    .feed-list .img-holder img {
      display: block;
      width: 100%;
      height: auto; }
  .feed-list .text-holder {
    overflow: hidden; }
    .feed-list .text-holder .post-header {
      overflow: hidden;
      margin: 0 0 10px; }
      .feed-list .text-holder .post-header h2 {
        margin: 0; }
    .feed-list .text-holder .meta {
      overflow: hidden;
      font-size: 13px;
      letter-spacing: -6px;
      color: #555555; }
      .feed-list .text-holder .meta span {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 0; }
        .feed-list .text-holder .meta span:before {
          display: inline-block;
          vertical-align: top;
          letter-spacing: 0;
          content: '-';
          margin: 0 4px;
          color: #555555; }
        .feed-list .text-holder .meta span:first-child:before {
          display: none; }
        .feed-list .text-holder .meta span.post-author {
          color: #888888; }
        .feed-list .text-holder .meta span.post-date {
          color: #bbbbbb; }

.post {
  overflow: hidden; }
  .post .img-holder {
    overflow: hidden;
    margin: 0 0 10px; }
    .post .img-holder img {
      display: block;
      width: 100%;
      height: auto; }
  .post .text-holder {
    overflow: hidden; }
    .post .text-holder .post-header {
      overflow: hidden;
      margin: 0 0 10px; }
      .post .text-holder .post-header h2 {
        margin: 0; }
    .post .text-holder .meta {
      overflow: hidden;
      font-size: 13px;
      letter-spacing: -6px;
      color: #555555; }
      .post .text-holder .meta span {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 0; }
        .post .text-holder .meta span:before {
          display: inline-block;
          vertical-align: top;
          letter-spacing: 0;
          content: '-';
          margin: 0 4px;
          color: #555555; }
        .post .text-holder .meta span:first-child:before {
          display: none; }
        .post .text-holder .meta span.post-author {
          color: #888888; }
        .post .text-holder .meta span.post-date {
          color: #bbbbbb; }
