$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import url('https://fonts.googleapis.com/css?family=Germania+One|Open+Sans:400,400i,600');

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/reset';
@import 'base/mixins';
@import 'base/helpers';

#root,
#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}


@import 'layouts/header';


@import 'components/btns';
@import 'components/feed-item';
@import 'components/post';
